<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.starry.webmanagement.mapper.ClazzMapper">

    <select id="list" resultType="org.starry.webmanagement.pojo.Clazz">
        select
        c.*,
        e.name masterName,
        (case when begin_date &gt; now() then 'Not Started' when now() &gt; end_date then 'Ended' else  'In Progress' end ) status
        from cls c left join emp e on c.master_id = e.id
        <where>
            <if test="name != null and name != ''">
                c.name like concat('%', #{name}, '%')
            </if>
            <if test="begin != null and end != null">
                and c.begin_date between #{begin} and #{end}
            </if>
        </where>
        order by c.update_time desc
    </select>

    <insert id="insert">
        insert into cls(name, room, begin_date, end_date, master_id, subject, create_time, update_time)
        values(#{name}, #{room}, #{beginDate}, #{endDate}, #{masterId}, #{subject}, #{createTime}, #{updateTime})
    </insert>
    <delete id="deleteById">
        delete from cls where id = #{id}
    </delete>

    <update id="update">
        update cls
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="room != null">room = #{room},</if>
            <if test="beginDate != null">begin_date = #{beginDate},</if>
            <if test="endDate != null">end_date = #{endDate},</if>
            <if test="masterId != null">master_id = #{masterId},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>


</mapper>