<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.starry.webmanagement.mapper.StudentMapper">
<!--    <insert id="insertBatch">-->
<!--        insert into stu(name, no, gender, phone,id_card, is_college, address, degree, graduation_date,clazz_id, create_time, update_time)-->
<!--        VALUES-->
<!--        <foreach collection="studentList" item="s" separator=",">-->
<!--            (#{s.name},#{s.no},#{s.gender},#{s.phone},#{s.idCard},#{s.isCollege},#{s.address},#{s.degree},#{s.graduationDate},-->
<!--            #{s.clazzId},#{s.createTime},#{s.updateTime})-->
<!--        </foreach>-->
<!--    </insert>-->

    <insert id="insert">
        insert into stu(name, no, gender, phone,id_card, is_college, address, degree, graduation_date,clazz_id, create_time, update_time)
        VALUES
        (#{name},#{no},#{gender},#{phone},#{idCard},#{isCollege},#{address},#{degree},#{graduationDate},#{clazzId},#{createTime},#{updateTime})
    </insert>

    <update id="update">
        update stu
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="no != null and no != ''">
                no = #{no},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="idCard != null and idCard != ''">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null">
                is_college = #{isCollege},
            </if>
            <if test="address != null and address != ''">
                address = #{address},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="violationCount != null">
                violation_count = #{violationCount},
            </if>
            <if test="violationScore != null">
                violation_score = #{violationScore},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime}
            </if>
        </set>
        where id = #{id}
    </update>

    <delete id="delete">
        delete from stu where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="list" resultType="org.starry.webmanagement.pojo.Student">
        select s.*, c.name clazzName from stu s left join cls c on s.clazz_id = c.id
        <where>
            <if test="name != null and name != ''">
                s.name like concat('%',#{name},'%')
            </if>
            <if test="degree != null">
                and s.degree = #{degree}
            </if>
            <if test="clazzId != null">
                and s.clazz_id = #{clazzId}
            </if>
        </where>
        order by s.update_time desc
    </select>

    <select id="countStudentDegreeData" resultType="java.util.Map">
        select
        (case degree
        when 1 then 'Middle school'
        when 2 then 'High school'
        when 3 then 'Graduate'
        when 4 then 'Bachelor'
        when 5 then 'Master'
        when 6 then 'PhD'
        else 'Others' end) name,
        count(*) value
        from stu group by degree
        order by degree
    </select>
</mapper>